:root {
    --toast-color-dark: #18181b;
    --toast-color-light: #fff;
    --toast-color-danger: #ef4444;
    --toast-color-success: #22c55e;
    --toast-color-info: #0284c7;
    --toast-color-warning: #eab308;

    --toast-padding: 14px;
    --toast-radius: 2px;

    --hype-font-family: sans-serif;
    --hype-z-index: 9999;
}

// TODO: WRAPPER

.toast_wrapper {
    position: absolute;
}

// wrapper positions
.TR {
    top: 20px;
    right: 20px;
}

.TL {
    top: 20px;
    left: 20px;
}

.BR {
    bottom: 20px;
    right: 20px;
}

.BL {
    bottom: 20px;
    left: 20px;
}

// animations
@keyframes slideIn {
    100% { margin-right: 0; }
}

// TODO: toast

.toast {
    // position: absolute;
    // right: -450px;
    background-color: var(--toast-color-dark);
    color: var(--toast-color-light);
    padding: 10px var(--toast-padding);
    border-radius: var(--toast-radius);
    font-family: var(--hype-font-family);

    display: flex;
    align-items: center;
}

.toast > .btn_closed {
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 20px;
    border: none;
    background: none;
    margin-left: 10px;
    color: inherit;
    cursor: pointer;
    transition: background ease-in-out 300ms;
}

.toast > .btn_closed:hover {
    background: rgba($color: #18181b, $alpha: 0.2);
    border-radius: var(--toast-radius);
}

.toast > .btn_action {
    font-weight: 600;
    background: none;
    border: none;
    color: inherit;
    margin-left: 10px;
    cursor: pointer;
    height: 20px;
    transition: background ease-in-out 300ms;
}

.toast > .btn_action:hover {
    background: rgba($color: #18181b, $alpha: 0.2);
    border-radius: var(--toast-radius);
}

// color
.toast_danger {
    background-color: var(--toast-color-danger);
}
.toast_info {
    background-color: var(--toast-color-info);
}
.toast_warning {
    background-color: var(--toast-color-warning);
    color: var(--toast-color-dark);
}
.toast_success {
    background-color: var(--toast-color-success);
    color: var(--toast-color-dark);
}

.TR__mr, .TL__mr {
    margin-bottom: 10px;
  }

  .BR__mr, .BL__mr {
    margin-top: 10px;
  }

